.router-link-active {
  background-color: rgb(149, 149, 149);
  color: white;
}
button {
  width: 100%;
  text-align: left;
}
*:focus {
  outline: none !important;
  border: 0 !important;
}
.tabs:hover {
  background-color: rgb(149, 149, 149);
  color: white;
}
