<mat-drawer-container fullscreen>
  <mat-drawer
    #sidenav
    [mode]="mobileQuery.matches ? 'over' : 'side'"
    [opened]="!mobileQuery.matches"
    ><div class="sidenav">
      <button mat-button routerLink="/dashboard">
        <mat-icon>keyboard_backspace</mat-icon> Back to Dashboard
      </button>
      <button
        mat-button
        *ngFor="let tab of tabs; let i = index"
        [routerLink]="tab.link"
        class="tabs"
        routerLinkActive="router-link-active"
      >
        <mat-icon>{{ tab.icon }}</mat-icon> {{ tab.name }}
      </button>
    </div>
    <button
      mat-mini-fab
      *ngIf="sidenav._opened"
      class="sidenav-toggler"
      style="right: -16px"
      (click)="sidenav.toggle()"
    >
      <mat-icon>
        {{ sidenav._opened ? 'chevron_left' : 'chevron_right' }}
      </mat-icon>
    </button>
  </mat-drawer>
  <mat-drawer-content>
    <button
      mat-mini-fab
      *ngIf="!sidenav._opened"
      style="left: -16px"
      class="sidenav-toggler"
      (click)="sidenav.toggle()"
    >
      <mat-icon>
        {{ sidenav._opened ? 'chevron_left' : 'chevron_right' }}
      </mat-icon>
    </button>
    <div class="outlet">
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
