.application-content {
  margin-top: 50px;
}
.router-link-active {
  background-color: rgb(39, 102, 150);
  color: white;
}
.brand {
  color: rgb(39, 102, 150);
  font-size: 30px;
  letter-spacing: 15px;
  width: 200px;
}
a {
  text-decoration: none;
}
