<div class="application-container">
  <div class="application-content">
    <nav class="navbar navbar-light bg-light" aria-label="...">
      <ul class="nav pagination">
        <li class="nav-item page-item brand">
          <a href="#"><span>OPRAS</span></a>
        </li>
      </ul>
      <span class="spacer"></span>
      <button
        class="btn btn-outline-primary my-2 my-sm-0 profile"
        mat-icon-button
        [matMenuTriggerFor]="menu"
        aria-label="Example icon-button with a menu"
      >
        MM
      </button>
      <mat-menu #menu="matMenu">
        <div
          style="
            text-align: center;
            align-items: center;
            justify-items: center;
            padding-left: 30px;
            padding-right: 30px;
          "
        >
          <div
            style="
              height: 100px;
              width: 100px;
              margin-left: 20%;
              border-radius: 50px;
              background-color: gray;
              text-align: center;
              justify-items: center;
              color: aliceblue;
              vertical-align: middle;
              background-image: url(assets/opras-logo.png);
              background-position: center;
            "
          ></div>
          <em>{{ userInfo.email }}</em
          ><br />
          <span>{{ userInfo.displayName | titlecase }}</span>
          <button
            mat-menu-item
            (click)="external('dhis-web-interpretation')"
            target="_blank"
          >
            <mat-icon
              [matBadge]="userDashboard.unreadInterpretations"
              matBadgeColor="accent"
              >chat </mat-icon
            >Notification
          </button>
          <button
            mat-menu-item
            (click)="external('dhis-web-messaging')"
            target="_blank"
          >
            <mat-icon
              [matBadge]="userDashboard.unreadMessageConversations"
              matBadgeColor="accent"
              >email </mat-icon
            >Messages
          </button>
          <button mat-menu-item routerLink="/settings">
            <mat-icon>person </mat-icon>My Profile
          </button>
          <button mat-menu-item><mat-icon>logout </mat-icon>Logout</button>
        </div>
      </mat-menu>
    </nav>
    <div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
