<div>
  <h4>General Settings</h4>
  <div>
    <form>
      <mat-form-field>
        <mat-label>Enable message email notification</mat-label>
        <mat-select>
          <mat-option value="yes">Yes</mat-option>
          <mat-option value="no">No</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Enable message SMS notification</mat-label>
        <mat-select>
          <mat-option value="yes">Yes</mat-option>
          <mat-option value="no">No</mat-option>
        </mat-select>
      </mat-form-field>
    </form>
  </div>
</div>
