<!-- Objective Cards -->
<div>
  <mat-card *ngFor="let objective of dataSource; let i = index">
    <table>
      <tr>
        <td class="headers">Objective</td>
        <td (dblclick)="objectiveDobleClick(i)">{{ objective.name }}</td>
        <td>
          <div class="nav" style="min-width: 300px">
            <span class="spacer"></span>
            <span style="color: green" *ngIf="objective.applicable">
              <em>
                <small> Added to Plan <mat-icon>check</mat-icon> </small>
              </em>
            </span>
            <button mat-button [matMenuTriggerFor]="menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button
                mat-menu-item
                [disabled]="!objective.applicable"
                (click)="removeFromPlan(i)"
              >
                <mat-icon>delete_sweep</mat-icon> Remove from plan
              </button>
              <button
                mat-menu-item
                [disabled]="objective.applicable"
                (click)="addToPlan(i)"
              >
                <mat-icon>add_task</mat-icon> Add to Plan
              </button>
              <button mat-menu-item (click)="editObjective(i)">
                <mat-icon>create</mat-icon> Edit Objective
              </button>
            </mat-menu>
          </div>
        </td>
      </tr>
      <tr>
        <td class="headers">Description</td>
        <td colspan="2" width="99%" (dblclick)="objectiveDobleClick(i)">
          {{ objective.description }}
        </td>
      </tr>
    </table>
  </mat-card>
</div>
<!-- Add All and Remove All Buttons -->
<div class="nav bottom-tools">
  <button mat-raised-button color="accent" (click)="onAddNew()">
    ADD NEW OBJECTIVE
  </button>

  <button
    mat-raised-button
    color="accent"
    [disabled]="!canAddAll"
    (click)="onAddAll()"
  >
    ADD ALL
  </button>
  <button
    mat-raised-button
    color="warn"
    [disabled]="!canRemoveAll"
    (click)="onRemoveAll()"
  >
    REMOVE ALL
  </button>
</div>
