.spacer {
  flex: 1 1 auto;
}
*:focus {
  outline: none !important;
  border: 0 !important;
}
mat-card {
  margin: 2px;
}
button {
  margin: 0 2.5px;
}
.headers {
  color: gray;
  width: 100px !important;
}
.bottom-tools {
  z-index: 4000 !important;
  position: fixed !important;
  bottom: 5px !important;
  right: 10px;
}
.button-add-all,
.button-remove-all,
.button-add-new-objective {
  border-radius: 50px;
}
