<!-- Objective Cards -->
<div>
  <mat-card *ngFor="let objective of dataSource; let i = index">
    <table>
      <tr>
        <td class="headers">Objective</td>
        <td (dblclick)="objectiveDobleClick()">{{ objective.name }}</td>
        <td>
          <div class="nav">
            <span class="spacer"></span>
            <button
              mat-mini-fab
              color="warn"
              *ngIf="objective.applicable"
              (click)="removeFromPlan(i)"
            >
              <mat-icon>delete_sweep</mat-icon>
            </button>
            <button
              mat-mini-fab
              color="accent"
              *ngIf="!objective.applicable"
              (click)="addToPlan(i)"
            >
              <mat-icon>add_task</mat-icon>
            </button>
          </div>
        </td>
      </tr>
      <tr>
        <td class="headers">Description</td>
        <td colspan="2" width="99%" (dblclick)="objectiveDobleClick()">
          {{ objective.description }}
        </td>
      </tr>
    </table>
  </mat-card>
</div>
<!-- Add All and Remove All Buttons -->
<div class="nav bottom-tools">
  <button
    mat-raised-button
    color="accent"
    (click)="onAddNew()"
    class="button-add-new-objective"
  >
    ADD NEW OBJECTIVE
  </button>

  <button
    mat-raised-button
    color="accent"
    [disabled]="!canAddAll"
    (click)="onAddAll()"
    class="button-add-all"
  >
    ADD ALL
  </button>
  <button
    mat-raised-button
    color="warn"
    [disabled]="!canRemoveAll"
    (click)="onRemoveAll()"
    class="button-remove-all"
  >
    REMOVE ALL
  </button>
</div>
