<div>
  <h4>My Profile</h4>
  <div>
    <form>
      <mat-form-field>
        <mat-label>First Name</mat-label>
        <input
          matInput
          placeholder="First Name"
          [(ngModel)]="userInfo$.firstName"
          [ngModelOptions]="{ standalone: true }"
          disabled
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Last Name</mat-label>
        <input
          matInput
          placeholder="Last Name"
          [ngModel]="userInfo$.surname"
          [ngModelOptions]="{ standalone: true }"
          disabled
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input
          matInput
          type="email"
          placeholder="Email"
          [ngModel]="userInfo$.email"
          [ngModelOptions]="{ standalone: true }"
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Mobile Phone Number</mat-label>
        <input
          type="tel"
          matInput
          placeholder="Mobile Phone Number"
          [ngModel]="userInfo$.whatsApp"
          [ngModelOptions]="{ standalone: true }"
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Gender</mat-label>
        <mat-select
          [ngModel]="userInfo$.gender"
          [ngModelOptions]="{ standalone: true }"
        >
          <mat-option value="gender_male">Male</mat-option>
          <mat-option value="gender_female">Female</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Date of Birth</mat-label>
        <input
          matInput
          type="date"
          [ngModel]="userInfo$.birthday | date: 'yyyy-MM-dd'"
          [ngModelOptions]="{ standalone: true }"
          disabled
        />
      </mat-form-field>
      <mat-form-field style="width: 20%; padding-right: 2%">
        <mat-label>Vote Code</mat-label>
        <input type="number" matInput placeholder="0046" />
      </mat-form-field>
      <mat-form-field style="width: 75%">
        <mat-label>Vote Description</mat-label>
        <input
          matInput
          placeholder="MINISTRY OF EDUCATION AND VOCATIONAL TRAINING"
        />
      </mat-form-field>
      <mat-form-field style="width: 20%; padding-right: 2%">
        <mat-label>Sub Vote Code</mat-label>
        <input type="number" matInput placeholder="2002" />
      </mat-form-field>
      <mat-form-field style="width: 75%">
        <mat-label> Sub Vote Description</mat-label>
        <input matInput placeholder="SECONDARY EDUCATION DIVISION" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Chech Number</mat-label>
        <input matInput type="number" placeholder="10123456" />
      </mat-form-field>
      <mat-form-field style="width: 20%; padding-right: 2%">
        <mat-label>Present Station Code</mat-label>
        <input type="number" matInput placeholder="2002" />
      </mat-form-field>
      <mat-form-field style="width: 75%">
        <mat-label>Present Station Name</mat-label>
        <input matInput placeholder="DAR ES SALAAM" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Academic Qualification</mat-label>
        <mat-select>
          <mat-option value="phd">PhD in ...</mat-option>
          <mat-option value="masters">Masters in ...</mat-option>
          <mat-option value="degree">Bachelor in ...</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Duty Post</mat-label>
        <mat-select>
          <mat-option value="hm">Head Masteer</mat-option>
          <mat-option value="sm">Second Master</mat-option>
          <mat-option value="soso">So-so</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Substantive Post</mat-label>
        <mat-select>
          <mat-option value="pao">Principal Administartive Officer</mat-option>
          <mat-option value="eo1">Education Officer 1</mat-option>
          <mat-option value="ma">Management Analyst</mat-option>
          <mat-option value="d">Director</mat-option>
          <mat-option value="ad">Assistant Director</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Date of first Appointment</mat-label>
        <input matInput type="date" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Salary Scale</mat-label>
        <mat-select>
          <mat-option value="osha">OSHA</mat-option>
          <mat-option value="cbgs1">CBGS 1</mat-option>
          <mat-option value="tghsa">TGHS A</mat-option>
          <mat-option value="tghsb">TGHS B</mat-option>
          <mat-option value="tghsc">TGHS C</mat-option>
          <mat-option value="tghsg">TGHS G</mat-option>
          <mat-option value="pgss">PGSS</mat-option>
          <mat-option value="puss">PUSS</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Terms of Service</mat-label>
        <mat-select>
          <mat-option value="pap">PERMANENT AND PENSIONABLE</mat-option>
          <mat-option value="os">OPERATIONAL SERVICE</mat-option>
          <mat-option value="ct">CONTRACT TERMS</mat-option>
        </mat-select>
      </mat-form-field>
    </form>
  </div>
</div>
