<div>
  <h4>About OPRAS</h4>
  <div>
    <p>
      The Open Performance Review and Appraisal System (OPRAS) is an open,
      formal, and systematic procedure designed to assist both employers and
      employees in planning, managing, evaluating and realizing performance
      improvement in the organization with the aim of achieving organizational
      goals. OPRAS has the following unique features that can be differentiated
      from the previous confidential appraisal system:
    </p>
    <p>
      <strong>Openness</strong> allows both employee and employer to discuss and
      agree on the organisational and individual objectives that are to be
      achieved during the year openly;
    </p>
    <p>
      <strong>Participation:</strong> involves employees in the process of
      setting objectives, performance targets and criteria as well as
      determining, assessing and recording performance;
    </p>
    <p>
      <strong> Accountability:</strong> individual employees are required to
      sign annual performance agreements and account for their performance
      against agreed targets and resources allocated for each activity;
    </p>
    <p>
      <strong>Ownership:</strong> shows linkage between individual objectives
      and the overall organizational objectives in a given period. This helps
      the employee understand own role and contribution thus creating commitment
      in achieving organizational goals.
    </p>
  </div>
  <hr />
  OPRAS Version: <span style="color: rgb(149, 149, 149)">{{ version }}</span>
  <hr />
</div>
