.router-link-active {
  background-color: rgb(39, 102, 150);
  color: white;
  border-radius: 5px;
}
.nav-item {
  margin-bottom: 3px;
  border-radius: 5px;
  border-bottom: rgb(39, 102, 150) 2px solid;
  border-right: rgb(39, 102, 150) 2px solid;
  border-top: rgb(39, 102, 150) 1px solid;
  border-left: rgb(39, 102, 150) 1px solid;
  width: 100%;
}
.nav-item:hover {
  background-color: rgb(39, 102, 150);
  color: white;
}
.nav-link:hover {
  color: white;
}
