.router-link-active {
  background-color: rgb(149, 149, 149);
  border: none !important;
  color: white;
}

mat-tree-node {
  cursor: pointer;
}
*:focus {
  outline: none !important;
  border: 0 !important;
}
