<mat-drawer-container fullscreen>
  <mat-drawer
    #sidenav
    [mode]="mobileQuery.matches ? 'push' : 'side'"
    [opened]="!mobileQuery.matches"
  >
    <mat-tree
      [dataSource]="dataSource"
      [treeControl]="treeControl"
      class="card-header"
    >
      <!-- Left nav for sections -->
      <mat-tree-node
        *matTreeNodeDef="let node"
        matTreeNodePadding
        class="nav-link"
        [routerLink]="node.link"
        routerLinkActive="router-link-active"
      >
        <a class="nav-link">{{ node.name | titlecase }}</a>
      </mat-tree-node>
      <!-- This is the tree node template for expandable nodes -->
      <mat-tree-node
        *matTreeNodeDef="let node; when: hasChild"
        matTreeNodePadding
        matTreeNodeToggle
        [attr.aria-label]="'Toggle ' + node.name"
      >
        <div class="nav-link">{{ node.name | titlecase }}</div>
        <span class="spacer"></span>
        <button mat-icon-button>
          <mat-icon class="mat-icon-rtl-mirror">
            {{ treeControl.isExpanded(node) ? 'expand_more' : 'chevron_left' }}
          </mat-icon>
        </button>
      </mat-tree-node>
    </mat-tree>
    <button
      mat-mini-fab
      *ngIf="sidenav._opened"
      class="sidenav-toggler"
      style="right: -16px"
      (click)="sidenav.toggle()"
    >
      <mat-icon>
        {{ sidenav._opened ? 'chevron_left' : 'chevron_right' }}
      </mat-icon>
    </button>
  </mat-drawer>
  <mat-drawer-content>
    <button
      mat-mini-fab
      *ngIf="!sidenav._opened"
      style="left: -16px"
      class="sidenav-toggler"
      (click)="sidenav.toggle()"
    >
      <mat-icon>
        {{ sidenav._opened ? 'chevron_left' : 'chevron_right' }}
      </mat-icon>
    </button>
    <router-outlet></router-outlet
  ></mat-drawer-content>
</mat-drawer-container>
